
*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid gray;
    width: 100%;
}
header a{
    text-decoration: none;
    color:gray;
}
h1{
    text-align: center;
    font-family: "Segoe Script", cursive;
}

nav{
    position: relative;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    height: 55px;
}

nav li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

.product{
    display: none;
    position: absolute;
    top: 55px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 10px 0;
    width: 100%;
    height: 140px;
    font-size: 14px;
}

nav li:hover .product{
    display: flex;
}

.mypage{
    display: none;
    position: absolute;
    top: 55px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 10px 0;
    width: 100%;
    height: 140px;
    font-size: 14px;
}

nav li:hover .mypage{
    display: flex;
}


main section figure{
    display: flex;
    justify-content: center;
    z-index: -1;
}
main section figure img{
    width: auto;
    height: auto;
}


footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}