
*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid gray;
    width: 100%;
}
h1{
    text-align: center;
    font-family: "Segoe Script", cursive;
}

nav{
    position: relative;
    z-index: 10;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    height: 55px;
}

nav li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

.product{
    display: none;
    position: absolute;
    top: 55px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 10px 0;
    width: 100%;
    height: 140px;
    font-size: 14px;
}

nav li:hover .product{
    display: flex;
}

.mypage{
    display: none;
    position: absolute;
    top: 55px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 10px 0;
    width: 100%;
    height: 140px;
    font-size: 14px;
}

nav li:hover .mypage{
    display: flex;
}


main section figure{
    display: flex;
    justify-content: center;
    z-index: -1;
}
main section figure img{
    width: auto;
    height: auto;
}


/* 내용 */
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main section {
    display: flex;
    width: 1360px;
    justify-content: space-between;
}
section .left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    width: 350px;
}
.left-text{
    padding: 20px 0;
}
.left-text h2{
    padding-bottom: 10px;
}
.left-text h3{
    padding-bottom: 10px;
}
section .right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    width: 350px;
}
.right ul{
    padding: 20px 0;
}
.right ul li{
    padding: 20px 0;
}


.swiper {
    width: 400px;  /* 이미지 한 장의 너비 */
    height: 500px; /* 이미지 한 장의 높이 */
    margin: 0 auto;
    overflow: hidden; /* 영역 밖으로 나가는 이미지들을 숨김 */
    position: relative;
    z-index: 1;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 찌그러지지 않게 꽉 채움 */
}



footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}